<h1 class="page-title">{{meta.modelName}} - {{meta.id}}</h1>
<form {{action (ds-persist-action changeset) on='submit'}}>
  <label for="dogName">
    <h4>Dog Name: <span class="dog-name-field">{{changes.name}}</span></h4>
    {{one-way-input changes.name update=(ds-mut-action changeset "name") name="dogName"}}
  </label>

  <button type="submit">Submit</button>
</form>
